header{
	background-color: #141414;
}

nav a{
	color: white;
	text-decoration: none;
	margin: 3px;
}

.logo{
	margin: 20px;
}

.menu{
	position: relative;
	top: 80px;
}

.fondo{
	background-color: #e5e5e5;
}

.text1, .text2 {
	float: left;
} 

.text1{
	margin:20px;
}

.text2{
	margin-top: 28px;	
}

.episodes{
	text-decoration: none;
}

.image-episodes{
	width: 100%;
	float:left;
}

.image-episodes img{
	width: 21%;
	margin-left: 3%;
	border: 3px ridge white;
}

.parrafo{
	float: left;
	margin-top: 2px;
}

.p1, .p2, .p3, .p4{
	padding-top: 0px;
	padding-bottom: 20px;
	margin-left: 120px;
}

.contenido{
	float: left;
	width: 100%;
}

.principal{
	float: left;
	width: 80%;	
	margin-right: 0px;
}

.secundario{
	float: right;
	width: 20%;
	margin-top: 60px;
}

.linea{
	width: 100%;
}

.titulo{
	color: #323232;
	border-bottom: 1px solid #323232;
	margin: 10px 0px;
}

.central{
	margin-top: 20px;
	margin-bottom: 10px;
}

.sponsored{
	font-size: 15px;
	border-top: 1px solid #323232;
	margin-top: 10px;
	padding-top: 20px;
}


.images{
	width: 100%;
	float:left;
	margin-left: 20px;
	margin-top: 40px;
}

.images img{
	width: 15%;
	margin-left: 8px;
	border: 5px ridge white;
}

.enlaces{
	width: 80%;
	text-align: center;
	margin: 0px 30px;
	padding: 0px;
}

.enlaces a{
	text-decoration: none;
	font-size: 15px;
	margin: 20px;

}


.pie p{
	color:white;
}

